**PROYECTO FINAL**

In [3]:
import os

1. Localizando directorio

In [10]:
directorio_actual = os.getcwd()
idh_nombre = 'IDH_PNUD_2017'
ruta_completa = os.path.join (directorio_actual, idh_nombre)

print (ruta_completa)

C:\Users\ivann\OneDrive\Documentos\QLAB - verano 2024-0\PYTHON\Proyecto_final2024\IDH_PNUD_2017

2. Importando data

In [8]:
import pandas as pd

In [13]:
locacion_datos = r"C:\Users\ivann\OneDrive\Documentos\QLAB - verano 2024-0\PYTHON\Proyecto_final2024\IDH_PNUD_2017.xlsx"

if os.path.exists(locacion_datos):
    idh = pd.read_excel(locacion_datos)
    print(idh.head())
else:
    print(f"El archivo no existe en la ruta especificada: {locacion_datos}")

  Índice de Desarollo Humano IDH 2017    Unnamed: 1 Unnamed: 2  Unnamed: 3  \
0                                 NaN           NaN        NaN         NaN
1                              UBIGEO  DEPARTAMENTO        NaN         NaN
2                                 NaN           NaN  Provincia         NaN
3                                 NaN           NaN   Distrito         NaN
4                                 NaN           NaN        NaN         NaN

   Unnamed: 4       Unnamed: 5                  Unnamed: 6  \
0         NaN              NaN                         NaN
1         NaN  Población total  Esperanza de vida al nacer
2         NaN              NaN                         NaN
3         NaN       habitantes                        Años
4         NaN              NaN                         NaN

                                          Unnamed: 7  \
0                                    Logro educativo
1  Población (18 años) con Educ. secundaria completa
2                                                NaN
3                                                (%)
4                                                NaN

                             Unnamed: 8                   Unnamed: 9  \
0                                   NaN                          NaN
1  Años de educación (Poblac. 25 y más)  Ingreso familiar per cápita
2                                   NaN                          NaN
3                                  Años                     N.S. mes
4                                   NaN                          NaN

   Unnamed: 10                        Unnamed: 11  Unnamed: 12  \
0          NaN                                NaN          NaN
1          NaN  Índice de Desarrollo Humano (IDH)          NaN
2          NaN                                NaN          NaN
3          NaN                                NaN          NaN
4          NaN                                NaN          NaN

                  Unnamed: 13  \
0        Valores normalizados
1  Esperanza de vida al nacer
2                         NaN
3                         NaN
4                         NaN

                                         Unnamed: 14  \
0                                                NaN
1  Población (18 años) con Educ. secundaria completa
2                                                NaN
3                                                NaN
4                                                NaN

                            Unnamed: 15      Unnamed: 16  \
0                                   NaN              NaN
1  Años de educación (Poblac. 25 y más)  Logro educativo
2                                   NaN              NaN
3                                   NaN              NaN
4                                   NaN              NaN

                   Unnamed: 17
0                          NaN
1  Ingreso familiar per cápita
2                          NaN
3                          NaN
4                          NaN

In [14]:
idh

,Índice de Desarollo Humano IDH 2017,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Logro educativo,NaN,NaN,NaN,NaN,NaN,Valores normalizados,NaN,NaN,NaN,NaN
1,UBIGEO,DEPARTAMENTO,NaN,NaN,NaN,Población total,Esperanza de vida al nacer,Población (18 años) con Educ. secundaria completa,Años de educación (Poblac. 25 y más),Ingreso familiar per cápita,NaN,Índice de Desarrollo Humano (IDH),NaN,Esperanza de vida al nacer,Población (18 años) con Educ. secundaria completa,Años de educación (Poblac. 25 y más),Logro educativo,Ingreso familiar per cápita
2,NaN,NaN,Provincia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,Distrito,NaN,NaN,habitantes,Años,(%),Años,N.S. mes,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2299,250401,1,Purus,NaN,NaN,2860,66.458846,20.197044,7.2707,517.759563,NaN,0.335455,NaN,0.690981,0.20197,0.385261,0.278947,0.195846
2300,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2301,Fuente: INEI. Censo de Población y Vivienda 20...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2302,Elaboración: PNUD / Unidad del Informe sobre D...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2303,1/ Provincias de Lima y Callao.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

3. Limpieza de datos

3.1 Elimnando filas

In [16]:
# Eliminar la fila con índice 1
idh = idh_.drop(1)

# Mostrar el DataFrame resultante
print(idh_)

NameError: name 'idh_' is not defined